h1 {
  font-family: "Dancing Script", cursive;
}

/* p {
  font-family: "Amatic SC", cursive;
  font-size: 20px;
} */
#titreChamp {
  font-family: "Dancing Script", cursive;
}
.overlay-image .image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.2;
}
.overlay-image .text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
